HOST=0.0.0.0
PORT=3000
ENV=development

#SUPABASE
SUPABASE_PROJECT_URL=http://127.0.0.1:54321
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_ANON_KEY=

AVATAR_GENERATOR_BASE_URL=ui-avatars

# DATABASE
DATABASE_HOST=host
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=markita
DATABASE_PORT=5432
DATABASE_TIME_ZONE=Asia/Jakarta
