HOST=0.0.0.0
PORT=3000
ENV=development

#SUPABASE
DATABASE_URL=postgresql://postgres:postgres@host:port/db
SUPABASE_PROJECT_URL=http://127.0.0.1:54321
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_ANON_KEY=

AVATAR_GENERATOR_BASE_URL=ui-avatars
