HOST=0.0.0.0
PORT=3000
ENV=development

DATABASE_URL=postgresql://postgres:postgres@host:port/db
SUPABASE_AUTH_PUBLISHABLE_KEY=
SUPABASE_AUTH_SECRET_KEY=
SUPABASE_STORAGE_BASE_URL=http://host:port/storage/v1
SUPABASE_ANON_KEY=
